body {
    background-color: #151519;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0; 
}

.navbar {
    height: 50px; 
    background-color: #151519; 
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff; 
    margin: 10px; 
}

.top-block {
    flex: 3; 
    background-color: #151519;
    display: flex;
    border-bottom: 1px solid #ffffff; 
}

.left-part {
    width: 30%; 
    background-color: #36363C;
    border-right: 1px solid #ffffff; 
    display: flex; 
}

.div1 {
    width: calc(25% - 10px); 
    background-color: #777777;
    margin: 5px; 
}

.div2 {
    flex: 1; 
    background-color: #999999;
    margin: 5px; 
}

.right-part {
    width: 70%; 
    background-color: #f1f1f1;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.player-controls {
    margin-top: 10px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}
.player-controls button {
    margin-top: 60px; 
    margin-left: 30px;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.bottom-block {
    flex: 1; 
    background-color: #444654;
    border-top: 1px solid #ffffff; 
}

.right-part video {
    max-width: 70%;
    max-height: 70%;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px;
}

#myVideo {
    transition: transform 0.3s ease;
}

#myVideo.flip-horizontal {
    transform: scaleX(-1);
}

#myVideo.flip-vertical {
    transform: scaleY(-1);
}

